.search-container{

  .display-product-search {
    //padding: rem;

    @include breakpoint(small only) {
      padding: 0.7rem;
      text-align: center;
    }

    .featured-product-link-name {
      color: #000;

      &:focus {
        outline-style: none;
      }

    }

    a {
      outline-style: none;
    }

    .card {
      margin-top: 1rem;
      padding: 0.1rem;
      margin-bottom: 1rem;
      min-width: 200px;
      max-height: 495px;

      @include breakpoint(medium only) {
        min-width: 250px;
      }

      .card-section {
        margin-bottom: 0.7rem;

        @include breakpoint(small only) {
          padding: 0.2rem;
        }

        img {
          border-radius: 0.5rem;
          width: 100% !important;
          height: 200px !important;

          @include breakpoint(medium only) {
            width: 100% !important;
            max-height: 200px !important;
          }

          @include breakpoint(small only) {
            width: 90% !important;
            max-height: 200px !important;

          }

        }

        .button {
          border-radius: 0.1rem;
          cursor: pointer;
          font-size: 0.9rem;

          &.more {
            color: #1585f1;
            background-color: #ffffff;
            border: 1px solid #1585f1;

            &:hover {
              color: #ffffff;
              background-color: darken(#1585f1, 10%);
            }

          }

        }

      }
    }
    .cube-loader{
      height: 120px;
      width: 120px;
      position:fixed;
      top: 60%;
      bottom: 20%;
      justify-content: center;
      left: 45%;

      @include breakpoint(medium only){
        height: 100px;
        width: 100px;
      }

      @include breakpoint(small only){
        height: 70px;
        width: 70px;
      }
    }


  }


}